body{
    background:linear-gradient(to right,rgb(103, 153, 254), white);
    margin: 0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 32px;
}
.form{
    background-color: #d9d9d9;
    border:30px solid #3c3c3c;
    padding: 30px;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
}
.input__form{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
    border: none;
    margin:20px 0;
    background: none;
    border-left:3px solid #6EA3C7;
    border-bottom:3px solid #6EA3C7
}
label{
    font-size: 20px;
}
    
.box{
    position: absolute;
    margin:auto;
    width: 250px;
    height: 50px;
    left: 601px;
    top: 65px;
    background: #1E1E1E;
    border-radius: 10px;
}